<!DOCTYPE html>
<html>
	<head>
			<title>RANDOMARM.COM</title>
			<link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
			<link rel='stylesheet' type='text/css' href='stylesheet2.css'/>
			<link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="small-device.css" />
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<div class="header">
		<h1 id="topper">RANDOMARM.BIZ</h1>
		<p id="explainer">Marmaduke: He's too big for that! The infamous Great Dane has been destroying living rooms, dog 
houses, and the limits of our love for years, but are you a true Marmaduke fan? Can you determine 
which vauge captions go with which Marmaduke comics? Test your Sixth Chien-se (<em>Chien</em> is french for dog) below!</p>
		</div>
		
		<div class="main">
			<div class="sneakyComic">
				<img id="posYes" src="PosYes.jpg"/>
				<img id="posNo" src="PosNo.jpg"/>
				<img id="negYes" src="NegYes.jpg"/>
				<img id="negNo" src="NegNo.jpg"/>
				<img id="comic" src=""/>
			</div>
			<div id="prompt">
				<h3>Is this the correct caption for this comic?</h3></div>
			<p id="caption"></p>
			<img class="btn" id="yes" src="YES.jpg" onmouseover="this.src='YESinvert.jpg'" onmouseout="this.src='YES.jpg'"/>
			<img class="btn" id="no" src="NO.jpg" onmouseover="this.src='NOinvert.jpg'" onmouseout="this.src='NO.jpg'"/>
			<p id="counter"> 0 Correct</p>
		</div>
		<div class="footer">
			<ul class="bottom">
				<li>A PowderRoom Production |</li>
				<li><a href="http://www.gocomics.com/marmaduke"><em>Marmaduke Comics</em> by Brad Anderson</a> |</li>
				<li><a href="mailto:randomarmdotbiz@gmail.com">Contact Us</a></li>
			</ul>
		</div>
	</body>
</html>

			
		