@font-face {
    font-family: 'roboto-m';
    src: url('../Homepage/roboto-thin-webfont.woff2') format('woff2'),
         url('../Homepage/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media(max-width: 1920px) {

    .Link {
        color: white;
        padding: 14px 16px;
        margin: 0 10px;
        background-color:#f44336;
        font-family: 'roboto-m';

        transition: background-color 0.2s ease-in-out;
    }

    .Link:hover {
        color: blue;
        background-color: #98ff98;
        text-decoration: none;
    }

    .dropdown {

    }

    .topNav {
        display: grid;
        grid-gap: 0px 0px;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #ddd;}
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {background-color: #3e8e41;}

      .dropdown-button {
        color: white;
        padding: 14px 16px;
        margin: 0 10px;
        background-color:#f44336;
        border: none;
        width: 100%;

        transition: background-color 0.2s ease-in-out;
        font-family: 'roboto-m';
        font-size: 15px;
      }
}